/* Popup.css */
.custom-modal {
    position: fixed; /* Garante que o modal fique fixo na tela */
    top: 50%; /* Posiciona o modal verticalmente no meio */
    left: 50%; /* Posiciona o modal horizontalmente no meio */
    transform: translate(-50%, -50%); /* Ajusta o modal para o centro exato */
    background: white;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 90%; /* Ajusta a largura máxima do modal */
    width: 100%; /* O modal deve ocupar a largura disponível */
    z-index: 1000; /* Garante que o modal fique acima de outros conteúdos */
}

.custom-overlay {
    position: fixed; /* Garante que o overlay cubra toda a tela */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Sombreamento escuro */
    z-index: 999; /* Garante que o overlay fique abaixo do modal */
}

/* Estilo da imagem do QR Code */
.qr-image {
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    border-radius: 10px; /* Arredonda as bordas da imagem */
    max-width: 100%; /* Ajusta a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}